@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
.card-wrapper {
  position: relative;
  border-radius: 16px;
  display: block;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}
.card-wrapper:hover {
  transform: scale(1.05);
}
.card-wrapper:hover .card-content::before {
  transform: scale(2);
  left: 0;
  bottom: 0;
}
.card-wrapper:hover .icon-wrapper {
  background-color: white;
}
.card-bg-img {
  position: absolute;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-info {
  display: flex;
  max-height: 330px;
  background: #023b697d;
  height: 400px;
  position: relative;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 300ms ease-in-out;
  height: 100%;
  padding: 32px;
  position: relative;
  z-index: 0;
}
.card-content::before {
  transition: all 500ms ease-in-out;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 100%;
  bottom: 100%;
  background-color: #0058a0;
  z-index: -1;
}
.icon-wrapper {
  width: 60px;
  height: 60px;
  line-height: 2.5;
  border-radius: 100%;
  background-color: #023b69;
  transition: all 300ms ease-in-out;
  margin-bottom: 1rem;
  padding: 10px;
  color: skyblue;
}
.card-detail {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.read-more {
  padding: 0.875rem 2.01rem;
  border-radius: 2.25rem;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  background-color: #00d6c6;
  text-decoration: none;
  color: white;
}
